<?xml version="1.0" ?>
<launch>

    <!-- Robot related arguments -->
    <arg name="robot_model"        default="husky"/>
    <arg name="robot_name"         default="ras_1" doc="robot namespace"/>
    <arg name="sensors"            default="false" doc="activate robot's sensors"/>
    <arg name="period"             default="0.001" doc="controller period"/>
    <arg name="arm_name"           default=""      doc="[kinova]"/>
    <arg name="max_vel_x"          default="1.0"   doc="maximum linear velocity x m/s" />
    <arg name="max_vel_y"          default="0.0"   doc="just here for compatibility with navigation launch file" />
    <arg name="max_vel_z"          default="0.0"   doc="just here for compatibility with navigation launch file" />
    <arg name="max_vel_yaw"        default="1.7"   doc="maximum angular velocity yaw rad/s"/>
    <arg name="input_device"       default=""      doc="just here for compatibility with navigation launch file"/>

    <!-- Gazebo related arguments -->
    <arg name="gazebo"        default="true"     doc="start gazebo"/>
    <arg name="gazebo_debug"  default="false"    doc="activate gazebo debug"/>
    <arg name="engine"        default="ode"      doc="[ode/bullet/dart/simbody]"/>
    <arg name="spawn_robot"   default="true"     doc="spawn the robot in gazebo"/>
    <arg name="initial_xyz"   default="[0,0,0]"  doc="initial robot xyz position in the world"/>
    <arg name="initial_rpy"   default="[0,0,0]"  doc="initial robot rpy position in the world"/>
    <arg name="world_name"    default="empty"    doc="load a specific world from wolf_gazebo_resources"/>
    <arg name="world_file"    default="$(find wolf_gazebo_resources)/worlds/$(arg world_name).world" doc="load a specific world file"/>

    <!-- GUI related arguments -->
    <arg name="gazebo_gui"      default="true"  doc="start gzclient"/>
    <arg name="plotjuggler_gui" default="false" doc="start plotjuggler"/>
    <arg name="rviz_gui"        default="false" doc="start rviz"/>
    <arg name="rqt_gui"         default="false" doc="start rqt"/>

    <!-- Odometry arguments -->
    <arg name="publish_odom_msg" default="true" doc="publish nav_msgs/Odometry message from the controller"/>
    <arg name="publish_odom_tf"  default="true" doc="publish the odom tf frame from the controller"/>

    <arg name="launch_planner"   default="" doc="just here for compatibility with navigation launch file"/>
    <arg name="planner_type"     default="" doc="just here for compatibility with navigation launch file"/>

    <remap from="$(arg robot_name)/diff_drive_controller/odom" to="$(arg robot_name)/odometry/robot"/>

    <group if="$(arg gazebo)">
        <include file="$(find wolf_description_utils)/launch/world.launch">
            <arg name="sensors"           value="$(arg sensors)" />
            <arg name="robot_model"       value="$(arg robot_model)" />
            <arg name="robot_name"        value="$(arg robot_name)" />
            <arg name="world_name"        value="$(arg world_name)" />
            <arg name="world_file"        value="$(arg world_file)" />
            <arg name="period"            value="$(arg period)" />
            <arg name="gui"               value="$(arg gazebo_gui)"/>
            <arg name="arm_name"          value="$(arg arm_name)"/>
            <arg name="debug"             value="$(arg gazebo_debug)"/>
            <arg name="engine"            value="$(arg engine)"/>
        </include>
    </group>
    <group unless="$(arg gazebo)">
        <include file="$(find wolf_description_utils)/launch/upload.launch">
           <arg name="sensors"      value="$(arg sensors)" />
           <arg name="robot_model"  value="$(arg robot_model)" />
           <arg name="robot_name"   value="$(arg robot_name)" />
           <arg name="arm_name"     value="$(arg arm_name)"/>
           <arg name="period"       value="$(arg period)" />
        </include>
    </group>

    <!-- Spawn the robot in Gazebo -->
    <node name="$(anon spawn_robot)" pkg="wolf_description_utils" type="go0" output="screen" if="$(arg spawn_robot)">
        <param name="robot_name"               value="$(arg robot_name)"/>
        <param name="robot_model"              value="$(arg robot_model)"/>
        <param name="initial_xyz"              value="$(arg initial_xyz)"/>
        <param name="initial_rpy"              value="$(arg initial_rpy)"/>
    </node>

   <group if="$(eval robot_name != '')">
         <include file="$(find husky_description)/launch/include/controller_ns.xml" ns="$(arg robot_name)">
             <arg name="robot_model"      value="$(arg robot_model)"/>
             <arg name="robot_name"       value="$(arg robot_name)"/>
             <arg name="sensors"          value="$(arg sensors)" />
             <arg name="period"           value="$(arg period)" />
             <arg name="plotjuggler_gui"  value="$(arg plotjuggler_gui)" />
             <arg name="rviz_gui"         value="$(arg rviz_gui)" />
             <arg name="rqt_gui"          value="$(arg rqt_gui)" />
             <arg name="publish_odom_msg" value="$(arg publish_odom_msg)"/>
             <arg name="publish_odom_tf"  value="$(arg publish_odom_tf)"/>
             <arg name="max_vel_x"        value="$(arg max_vel_x)"  />
             <arg name="max_vel_yaw"      value="$(arg max_vel_yaw)"/>
         </include>
    </group>

    <group if="$(eval robot_name == '')">
        <include file="$(find husky_description)/launch/include/controller_ns.xml">
             <arg name="robot_model"      value="$(arg robot_model)"/>
             <arg name="robot_name"       value="$(arg robot_name)"/>
             <arg name="sensors"          value="$(arg sensors)" />
             <arg name="period"           value="$(arg period)" />
             <arg name="plotjuggler_gui"  value="$(arg plotjuggler_gui)" />
             <arg name="rviz_gui"         value="$(arg rviz_gui)" />
             <arg name="rqt_gui"          value="$(arg rqt_gui)" />
             <arg name="publish_odom_msg" value="$(arg publish_odom_msg)"/>
             <arg name="publish_odom_tf"  value="$(arg publish_odom_tf)"/>
             <arg name="max_vel_x"        value="$(arg max_vel_x)"  />
             <arg name="max_vel_yaw"      value="$(arg max_vel_yaw)"/>
        </include>
    </group>

</launch>
