<?xml version="1.0"?>

<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="load_force_sensors" default="false"/>
  <xacro:arg name="sensors"            default="false"/>
  <xacro:arg name="period"             default="0.004"/>
  <xacro:arg name="arm_name"           default=""/>
  <xacro:arg name="floating_base_link" default="true"/>
  <xacro:arg name="robot_model"        default="husky"/>
  <xacro:arg name="robot_name"         default=""/>
  <xacro:arg name="base_name"          default="base_link"/>

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time -->
  <xacro:include filename="$(find wolf_description_utils)/urdfs/gazebo.urdf.xacro"/>

  <xacro:include filename="$(find wolf_description_utils)/urdfs/imu.hardware.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/imu.gazebo.xacro"/>
  <xacro:include filename="$(find wolf_description_utils)/urdfs/wheels.hardware.xacro"/>

  <xacro:include filename="$(find sensors_description)/urdfs/sensors/depth_camera.gazebo.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/gps.gazebo.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/lidar.gazebo.xacro"/>

  <xacro:include filename="$(find husky_description)/urdfs/husky_macro.urdf.xacro" />

  <xacro:husky floating_base_link="$(arg floating_base_link)" />

    <!-- IMU sensor -->
    <xacro:imu_sensor
        frame_name="trunk_imu"
        imu_topic="trunk_imu/data"
        namespace="$(arg robot_name)"
        update_rate="${1.0 / $(arg period)}"
        rate_mean="0"
        rate_stddev="0.01"
        rate_bias_mean="0"
        rate_bias_stddev="0"
        accel_mean="0"
        accel_stddev="0.001"
        accel_bias_mean="0"
        accel_bias_stddev="0">
    </xacro:imu_sensor>

    <xacro:imu_hardware imu_name="trunk_imu" imu_frame="trunk_imu"/>

    <!-- Standard accessories. -->
    <xacro:if value="$(arg sensors)">
        <xacro:depth_camera 
          name="camera"
          namespace="$(arg robot_name)" 
          update_rate="30"
          image_width="640"
          image_height="480"
          fov="1.047"
          near="0.1"
          far="10.0"
          parent_link="realsense_mountpoint_link"
          image_topic="$(arg robot_name)/camera/rgb/image_raw"
          depth_topic="$(arg robot_name)/camera/depth/image_raw"
          pointcloud_topic="$(arg robot_name)/camera/points"
          camera_info_topic="$(arg robot_name)/camera/camera_info"
          origin_xyz="0.13 0 0" 
          origin_rpy="0 0 0"/>

        <xacro:velodyne_laser_gazebo_sensor 
          sensor_name="lidar" 
          topic_name="lidar_points" 
          update_rate="10.0" 
          frame_id="lidar_arch_mount_link" 
          namespace="$(arg robot_name)" 
          min_range="0.9" 
          max_range="130.0" 
          number_of_beams="32" 
          horizontal_samples="220" 
          horizontal_fov="6.28319"      
          vertical_fov="0.2618"    
          noise_stddev="0.01" />


      <xacro:gazebo_gps_sensor 
          sensor_name="gps_sensor"
          namespace="$(arg robot_name)"
          gps_topic="gps/fix" 
          velocity_topic="gps/velocity_fix"
          update_rate="10.0" 
          frame_id="base_link" />
    </xacro:if>

</robot>
