<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

 <joint name="joint_base_robots" type="fixed">
        <parent link="base_link"/>
        <child link="base_arm"/>
        <origin xyz="0.6 0 0.15" rpy="0 0.785398 0" />
 </joint>


<xacro:include filename="$(find gen3kinova_description)/urdfs/arm.urdf.xacro" />
<xacro:include filename="$(find hyq_description)/urdfs/arm/arm.transmission.xacro"/>

<xacro:arm_transmission name="z_joint_1"/>
<xacro:arm_transmission name="z_joint_2"/>
<xacro:arm_transmission name="z_joint_3"/>
<xacro:arm_transmission name="z_joint_4"/>
<xacro:arm_transmission name="z_joint_5"/>
<xacro:arm_transmission name="z_joint_6"/>

</robot>
