<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:arg name="period"      default="0.001"/>
<xacro:arg name="robot_name"  default=""/>
<xacro:arg name="robot_model" default=""/>
<xacro:arg name="base_name"   default="base_link"/>

<xacro:property name="model_name" value="$(arg robot_model)"/>

	<gazebo>
        <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="libign_ros2_control-system.so">
                <robot_param_node>robot_state_publisher</robot_param_node>
                <ros>
                        <namespace>/$(arg robot_name)</namespace>
                        <!--<remapping>tf:=$(arg robot_name)/tf</remapping>-->
                        <remapping>wolf_controller/odom:=odometry/robot</remapping>
                        <remapping>diffdrive_controller/odom:=odometry/robot</remapping>
                </ros>
                <parameters>$(find ${model_name}_description)/params/${model_name}_params_$(arg robot_name).ros2.yaml</parameters>
        </plugin>
	</gazebo>

</robot>
