<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sensors_description)/urdfs/common.xacro"/>
  <xacro:include filename="$(find go1_description)/urdfs/ultraSound.xacro"/>
  <xacro:include filename="$(find go1_description)/urdfs/depthCamera.xacro"/>
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/realsense_t265.xacro"/>

  <xacro:depthCamera camID="1" name="face">
      <origin rpy="${PI} 0 0" xyz="0.2785 0.0125 0.0167"/>
  </xacro:depthCamera>

  <xacro:depthCamera camID="2" name="chin">
      <origin rpy="${PI} ${PI/2} 0" xyz="0.2522 0.0125 -0.0436"/>
  </xacro:depthCamera>

  <xacro:depthCamera camID="3" name="left">
      <origin rpy="${PI} 0.2618 ${PI/2}" xyz="-0.066 0.082 -0.0176"/>
  </xacro:depthCamera>

  <xacro:depthCamera camID="4" name="right">
      <origin rpy="${PI} 0.2618 ${-PI/2}" xyz="-0.041 -0.082 -0.0176"/>
  </xacro:depthCamera>

  <xacro:depthCamera camID="5" name="rearDown">
      <origin rpy="${PI} ${PI/2} 0" xyz="-0.0825 0.0125 -0.04365"/>
  </xacro:depthCamera>

  <joint name="camera_laserscan_joint_left" type="fixed">
      <origin rpy="0 0.2618 0" xyz="0 0 0"/>
      <parent link="camera_left"/>
      <child link="camera_laserscan_link_left"/>
  </joint>

  <link name="camera_laserscan_link_left">
  </link>

  <joint name="camera_laserscan_joint_right" type="fixed">
      <origin rpy="0 0.2618 0" xyz="0 0 0"/>
      <parent link="camera_right"/>
      <child link="camera_laserscan_link_right"/>
  </joint>

  <link name="camera_laserscan_link_right">
  </link>

  <xacro:ultraSound name="left">
      <origin rpy="0 0.2618 ${PI/2}" xyz="-0.0535  0.0826 0.00868"/>
  </xacro:ultraSound>

  <xacro:ultraSound name="right">
      <origin rpy="0 0.2618 ${-PI/2}" xyz="-0.0535 -0.0826 0.00868"/>
  </xacro:ultraSound>

  <xacro:ultraSound name="face">
      <origin rpy="0 0 0" xyz="0.2747 0.0 -0.0088"/>
  </xacro:ultraSound>

  <xacro:realsense_T265 sensor_name="t265" parent_link="trunk" rate="30.0">
    <origin xyz="0.3 0 0.05" rpy="0 0.24 0" />
  </xacro:realsense_T265>

  <joint name="lidar_cage_to_lidar" type="fixed">
      <parent link="trunk"/>
      <child link="lidar"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.05"/>
  </joint>
  <link name="lidar">
      <inertial>
          <origin rpy="0.0 0.0 0.0" xyz="-0.012 0.001 -0.008"/>
          <mass value="0.695"/>
          <inertia ixx="0.000846765" ixy="6.9565e-05" ixz="0.00027111" iyy="0.001367583" iyz="5.8984e-05" izz="0.001363673"/>
      </inertial>
  </link>

  <xacro:VLP-16 parent="lidar" name="velodyne" topic="/velodyne_points"
                organize_cloud="true" hz="10" gpu="true">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:VLP-16>

</robot>
