<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="depth_camera" params="
    name namespace update_rate image_width image_height fov near far parent_link origin_xyz origin_rpy
  ">
    
    <!-- Camera Link -->
    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="Black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="1e-05" ixy="0.0" ixz="0.0"
                 iyy="1e-05" iyz="0.0"
                 izz="1e-05"/>
      </inertial>
    </link>

    <!-- Fixed Joint to Parent -->
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    </joint>

    <xacro:if value="${namespace == ''}">
      <xacro:property name="camera_topic_ns" value="${name}"/>
      <xacro:property name="camera_frame_id" value="${name + '_link'}"/>
    </xacro:if>
    <xacro:if value="${namespace != ''}">
      <xacro:property name="camera_topic_ns" value="${namespace + '/' + name}"/>
      <xacro:property name="camera_frame_id" value="${namespace + '/' + name + '_link'}"/>
    </xacro:if>

    <!-- Gazebo Sim depth camera sensor -->
    <gazebo reference="${name}_link">
      <sensor type="depth_camera" name="${name}">
        <update_rate>${update_rate}</update_rate>
        <always_on>true</always_on>
        <pose>${origin_xyz} ${origin_rpy}</pose>
        <topic>${camera_topic_ns}</topic>
        <gz_frame_id>${camera_frame_id}</gz_frame_id>

        <camera name="${name}">
          <horizontal_fov>${fov}</horizontal_fov>
          <image>
            <width>${image_width}</width>
            <height>${image_height}</height>
            <format>R8G8B8</format> <!-- RGB format -->
          </image>
          <clip>
            <near>${near}</near>
            <far>${far}</far>
          </clip>
        </camera>

      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
