<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    Macro: gazebo_gps_sensor
    Description: Inserts a GPS sensor with the gazebo_ros_gps_sensor plugin.
    Parameters:
      sensor_name    - Name for the sensor element.
      namespace      - ROS namespace
      gps_topic      - Topic where GPS data will be published.
      velocity_topic - Topic where Vel data will be published.
      update_rate    - Update rate of the sensor (Hz).
      frame_id       - Frame ID to be used by the sensor.
  -->
  <xacro:macro name="gazebo_gps_sensor" params="sensor_name namespace gps_topic velocity_topic update_rate frame_id">
    <gazebo reference="${frame_id}">
      <sensor type="gps" name="${sensor_name}">
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <gps>
          <!-- Optionally, include additional sensor-specific parameters here -->
        </gps>
        <plugin name="gps_plugin" filename="libgazebo_ros_gps_sensor.so">
          <ros>
            <namespace>/${namespace}</namespace>
            <!-- Additional ROS plugin configuration can be added here -->
            <remapping>gps_plugin/out:=${gps_topic}</remapping>
            <remapping>gps_plugin/vel:=${velocity_topic}</remapping>
          </ros>
          <frameId>${frame_id}</frameId>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>

