<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    Macro: gazebo_gps_sensor
    Description: Inserts a Gazebo Sim GPS sensor (bridge to ROS with ros_gz_bridge).
    Parameters:
      sensor_name    - Name for the sensor element.
      namespace      - ROS namespace
      gps_topic      - Topic where GPS data will be published.
      velocity_topic - Topic where Vel data will be published.
      update_rate    - Update rate of the sensor (Hz).
      frame_id       - Frame ID to be used by the sensor.
  -->
  <xacro:macro name="gazebo_gps_sensor" params="sensor_name namespace gps_topic velocity_topic update_rate frame_id">
  
    
      <xacro:if value="${namespace == ''}">
                    <xacro:property name="gps_topic_ns" value="${gps_topic}"/>
                    <xacro:property name="gps_frame_id_ns" value="${frame_id}"/>
      </xacro:if>
      <xacro:if value="${namespace != ''}">
                    <xacro:property name="gps_topic_ns" value="${namespace+'/'+gps_topic}"/>
                    <xacro:property name="gps_frame_id_ns" value="${namespace+'/'+frame_id}"/>
      </xacro:if>
  
    <gazebo reference="${frame_id}">
      <sensor name="${sensor_name}" type="gps" >
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <topic>${gps_topic_ns}</topic>
        <gz_frame_id>${gps_frame_id_ns}</gz_frame_id>
        <gps>
          <!-- Optionally, include additional sensor-specific parameters here -->
        </gps>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
