<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="imu_sensor" params="imu_name imu_topic update_rate rate_mean rate_stddev
		rate_bias_mean rate_bias_stddev accel_mean accel_stddev accel_bias_mean accel_bias_stddev">

 		<gazebo>
                        <plugin name="ignition::gazebo::systems::Imu" filename="libignition-gazebo-imu-system.so">
                        </plugin>
		</gazebo>
		
                <!-- Imu definition required for the hardware interface of ros control -->
                 <gazebo reference="${imu_name}">
                        <sensor name="${imu_name}" type="imu">
                            <always_on>1</always_on>
                            <update_rate>${update_rate}</update_rate>
                            <visualize>true</visualize>
                            <topic>${imu_topic}</topic>
                        </sensor>
                </gazebo>
	</xacro:macro>

</robot>
