<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="imu_sensor" params="sensor_name frame_name imu_topic namespace update_rate rate_mean rate_stddev
        rate_bias_mean rate_bias_stddev accel_mean accel_stddev accel_bias_mean accel_bias_stddev">

      <xacro:if value="${namespace == ''}">
                <xacro:property name="imu_topic_ns" value="${'/' + imu_topic}"/>
      </xacro:if>
      <xacro:if value="${namespace != ''}">
                <xacro:property name="imu_topic_ns" value="${'/' + namespace + '/' + imu_topic}"/>
      </xacro:if>

        <gazebo reference="${frame_name}">
            <gravity>true</gravity>
            <sensor name="${sensor_name}" type="imu">
                <always_on>true</always_on>
                <update_rate>${update_rate}</update_rate>
                <visualize>true</visualize>
                <topic>${imu_topic_ns}</topic>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>
