<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="velodyne_laser_gazebo_sensor" params="sensor_name topic_name update_rate frame_id namespace min_range max_range number_of_beams horizontal_samples horizontal_fov vertical_fov noise_stddev">

    <xacro:if value="${namespace == ''}">
      <xacro:property name="lidar_topic_ns" value="${topic_name}"/>
    </xacro:if>
    <xacro:if value="${namespace != ''}">
      <xacro:property name="lidar_topic_ns" value="${namespace + '/' + topic_name}"/>
    </xacro:if>

    <!-- Sensor definition -->
    <gazebo reference="${frame_id}">
      <sensor type="ray" name="${sensor_name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${update_rate}</update_rate>
        <topic>${lidar_topic_ns}</topic>
        <ray>
          <scan>
            <horizontal>
              <samples>${horizontal_samples}</samples>
              <resolution>1</resolution>
              <min_angle>${-0.5 * horizontal_fov}</min_angle>
              <max_angle>${0.5 * horizontal_fov}</max_angle>
            </horizontal>
            <vertical>
              <samples>${number_of_beams}</samples>
              <resolution>1</resolution>
              <min_angle>${-0.5 * vertical_fov}</min_angle>
              <max_angle>${0.5 * vertical_fov}</max_angle>
            </vertical>
          </scan>

          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.001</resolution>
          </range>

          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
          </noise>
        </ray>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
