<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sensors_description)/urdfs/common.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/depth_camera.gazebo.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/gps.gazebo.xacro"/>
  <xacro:include filename="$(find sensors_description)/urdfs/sensors/lidar.gazebo.xacro"/>

  <joint name="pack_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="pack_mount"/>
    <origin xyz="-0.019986 0 0.093662" rpy="0 0 0"/>
  </joint>

  <link name="pack_mount">
    <visual>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/pack_top.dae"/>
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/pack_body.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/pack_body.dae"/>
      </geometry>
    </collision>
  </link>

  <joint name="lidar_mount_joint" type="fixed">
    <parent link="pack_mount"/>
    <child link="lidar_mount"/>
    <origin xyz="0.015 0 0.149285" rpy="0 0 0"/>
  </joint>

  <link name="lidar_mount">
    <visual>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/lidar_mount.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/lidar_mount_collision.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="velodyne_mount_joint" type="fixed">
    <parent link="lidar_mount"/>
    <child link="velodyne_mount"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="velodyne_mount">
    <visual>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/velo.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find spot_description)/meshes/velo_collision.stl"/>
      </geometry>
    </collision>
  </link>

   <xacro:depth_camera 
     name="camera"
     namespace="$(arg robot_name)" 
     update_rate="30"
     image_width="640"
     image_height="480"
     fov="1.047"
     near="0.1"
     far="10.0"
     parent_link="front_rail"
     image_topic="camera/rgb/image_raw"
     depth_topic="camera/depth/image_raw"
     pointcloud_topic="camera/points"
     camera_info_topic="camera/camera_info"
     origin_xyz="0.13 0 0" 
     origin_rpy="0 0 0"/>

  <xacro:velodyne_laser_gazebo_sensor 
    sensor_name="lidar" 
    topic_name="lidar_points" 
    update_rate="10.0" 
    frame_id="velodyne_mount" 
    namespace="$(arg robot_name)" 
    min_range="0.9" 
    max_range="130.0" 
    number_of_beams="32" 
    horizontal_samples="220" 
    horizontal_fov="6.28319"      
    vertical_fov="0.2618"    
    noise_stddev="0.01" />


<xacro:gazebo_gps_sensor 
    sensor_name="gps_sensor"
    namespace="$(arg robot_name)"
    gps_topic="gps/fix" 
    velocity_topic="gps/velocity_fix"
    update_rate="10.0" 
    frame_id="base_link" />

</robot>
